
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    font-weight: 200;
    color: #dddddd;
  }
  

  h2 {
      color: white;
      margin-bottom: 20px;
  }

  h6 {
    color: rgba(255, 255, 255, 0.25);
    font-family: 'Sarabun', sans-serif;
    font-style: italic;
  }

  .nav {
      background-color: #141414;
  }

  .results {
      margin-top: 30px;
      border-top: .05em solid #ffffff;

  }
 
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 

  .card-body {
      margin-top:30px;
  }

  .bg {
    /* the background color */
    background-color: #141414;
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }







h1 {
    color: white;
}

.navbar {
    padding: 30px;
}

.logo {
    width: 200px;
    float: left;
}

.row {
    margin: 0 45px;
}


.search {
    padding-top:150px;
}

.search h6 {
    text-align: center;
}

.input-group {
    width:100%;
    margin: 0 auto;
    background: none ;
    max-width: 500px;
    
}

.input-group-text {
    padding:none;
    border:none;
    
}

.form-control {
    background: none;
}

.form-control:focus {
    background: none;
}

.input-group-lg>.form-control{
    border-radius: 2rem;
}



.section-main {
    border-right: 1px solid red;
}

.card {
    background: none;
    color: 141414;
    /* border: 1px solid #141414; */
    padding: 30px;
    border-radius: 0;
    border: none;
}

/* .container {
    border-top: 1px solid #ffffff;
} */



@media (min-width: 992px) {
.container {
    max-width: 100%;

}
}