
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* the background color */
    background-color: #000000;
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }







h1 {
    color: white;
}

.navbar {
    padding: 30px;
}

.logo {
    width: 200px;
    float: left;
}

.row {
    margin: 0 45px;
}


.input-group {
    width: 50%;
    padding-top:300px;
    margin: 0 auto;
    background: none ;
    
}

.input-group-text {
    padding:none;
    border:none;
}

.section-main {
    border-right: 1px solid red;
}

.card {
    background: none;
    color: 141414;
    /* border: 1px solid #141414; */
    padding: 30px;
    border-radius: 0;
    border: none;
}

.container {
    border-top: 1px solid #ffffff;
}



@media (min-width: 992px) {
.container {
    max-width: 100%;

}
}