
body {
    height: 100%;
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    font-weight: 200;
    color: #000000;
  }
  
  #wotd-def{
      color: white;
  }


  h1 {
    color: white;
}

h6 {
    color: #000000;
}

.navbar {
    padding: 30px;
    width: 100%;
    margin: 10px 40px;
}

.logo {
    width: 200px;
    float: left;
}

.row {
    margin: 0 45px;
}

  .heading-white {
      color: white;
      margin-bottom: 20px;
  }
  
  svg.svg-inline--fa.fa-volume-up.fa-w-18.sound {
    float: right;
    position: relative;
    top: -35px;
}

  h6 {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Sarabun', sans-serif;
    font-style: italic;
  }

  /* .nav {
      background-color: #34323D;
  } */
  
  .left, p.card-text, h2.card-title {
    text-align: left;
}

  .results {
      margin-top: 30px;
      border-top: .05em solid #ffffff37;
  }
  
  .card-body {
      margin-top:30px;
  }

  .bg {
    /* the background color */
    background-color: #34323D;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



/*//// SEARCH INPUT ////////*/

.search {
    padding-top:40px;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    border-radius: 3em;
}

.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
}

input#word-input {
    padding-left: 55px;
}

.search h6 {
    text-align: center;
}

.input-group {
    width:100%;
    margin: 0 auto;
    background: none ;
    max-width: 500px;
    
}

.input-group-text {
    padding:none;
    border:none;   
}

.form-control {
    background: none;
}

.form-control:focus {
    background: none;
}

.input-group-lg>.form-control{
    border-radius: 2rem;
}

.fa-search {
    position: absolute;
    top: 37%;
    left: 5%;
    color: #8e99a4;
}

#validation {
    margin-bottom: 10px;
}

/*///////////////////////////////*/

.section-main {
    border-right: 1px solid red;
}

.card {
    background: none;
    color: 141414;
    /* border: 1px solid #141414; */
    padding: 30px;
    border-radius: 0;
    border: none;
}




@media (min-width: 992px) {
.container {
    max-width: 100%;

}
}