body {
    background-color: #ffffff;
}

h1 {
    color: white;
}

.navbar {
    padding: 30px;
}

.logo {
    width: 200px;
    float: left;
}


.input-group {
    width: 50%;
    margin: 30px auto;
    background: none ;
    
}

.card {
    background: none;
    color: 141414;
    border: 1px solid #141414;
    padding: 30px;
}